/*
	playfairdisplay.css
	local alternative to 
	http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic
	handcrafted with love by gaspard on 2013-05-07.
*/


@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: local('Playfair Display'), local('PlayfairDisplay-Regular'),
		url('playfairdisplay-regular.eot?#iefix') format('embedded-opentype'),
		url('playfairdisplay-regular.woff') format('woff'),
		url('playfairdisplay-regular.ttf') format('truetype'),
		url('playfairdisplay-regular.svg#playfair_displayregular') format('svg');
}


@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: url('playfairdisplay-bold.eot');
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
		url('playfairdisplay-bold.woff') format('woff'),
		url('playfairdisplay-bold.ttf') format('truetype'),
		url('playfairdisplay-bold.svg#playfair_displaybold') format('svg');
}


@font-face {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	src: url('playfairdisplay-italic.eot');
	src: url('playfairdisplay-italic.eot?#iefix') format('embedded-opentype'),
		url('playfairdisplay-italic.woff') format('woff'),
		url('playfairdisplay-italic.ttf') format('truetype'),
		url('playfairdisplay-italic.svg#playfair_displayitalic') format('svg');
}


@font-face {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 700;
	src: url('playfairdisplay-bolditalic.eot');
	src: url('playfairdisplay-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('playfairdisplay-bolditalic.woff') format('woff'),
		url('playfairdisplay-bolditalic.ttf') format('truetype'),
		url('playfairdisplay-bolditalic.svg#playfair_displaybold_italic') format('svg');
}


