@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// GENERAL LAYOUT
// --------------

body{
	background:@palePink url(../img/ruban.gif) no-repeat scroll top center;
	margin:1em 0
}
div.main.container{
	.wrap {
		padding:@gridInnerSpace;
	}
	border:1px solid #DFC2CF;
	background-color:white;
	.border-radius(30px);
	.box-shadow(4px 4px 20px #DFC2CF);
}

footer{
	padding-top:15px;
	background: transparent url(../img/bobines.gif) no-repeat scroll bottom right;
}
footer, footer a, footer a:hover{
	color:@pink;
}

h2,h3{
	font-weight:normal;
	color:@pink;
}

.article .prix{
	margin-top:1.5em;
	color:@pink;
}

// COLLECTIONS
// -----------

body.collection{
	.row.big{
		.span3, .span6{
			margin-top:20px;
			height:300px;
			overflow:hidden;
		}
		.span3.deg{
			#gradient > .vertical(@palePink,@white);
			h2{
				min-height:200px;
				font-size:2.5em; // responsive !
				
				text-align:right;
				padding-right:.2em;
				line-height:1em;
				span{
					max-width:280px;
					/*
						TODO responsive
					*/
				}
			}
		}
	}
}

// PRODUCT
// -------


.magnify {
	position:relative;

	#large{
		display:block;
	}

	.glass{
		cursor: none;
		width:100px;
		height:100px;
		bottom:10px;
		left:10px;
		background-image:url('../img/load.gif');
		background-position:center center;
		background-repeat:no-repeat;
		position:absolute;
		background-color:#fff;

		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius:100%;

		display:none;

		-webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
			0 0 7px 7px rgba(0, 0, 0, 0.25), 
			inset 0 0 40px 2px rgba(0, 0, 0, 0.25);


		box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
			0 0 7px 7px rgba(0, 0, 0, 0.25), 
			inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	}
}



// BLOG
// ----

body.blog{
	.row.article{
		h2{
			
		}
		.info{
			margin-top:2em;
			color:@gray;
			text-align:right;
		}
	}
}


// RESPONSIVE
// ----------
/*
@media (min-width: 1200px) {
	body.collection .row.big .span3 h2{
		font-size:3.5em;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body.collection .row.big .span3 h2{
		font-size:2em;
	}


}
@media (max-width: 767px) {
	body.collection .row.big .span3{
		background-color:@white;
		background-image:none;
		h2{
			min-height:auto;
			text-align:left;
		}
	}
}
*/