<footer>
	<p>Laborantine - 18 rue de Monceau 75008 Paris - +33 1 42 25 18 52 - <script type="text/javascript">document.write(
"<n uers=\"znvygb:pbagnpg\100ynobenagvar\056se\">pbagnpg\100ynobenagvar\056se<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script></p>
</footer>